{
	"rules": {
		// Possible Errors
		"no-cond-assign": 0,
		"no-console": 0,
		"no-constant-condition": 0,

		// Best Practices
		"consistent-return": 0,
		"dot-notation": 0,
		"eqeqeq": 0,
		"no-extend-native": 0,
		"no-loop-func": 0,
		"no-native-reassign": 0,
		"no-new": 0,
		"no-script-url": 0,

		// Strict Mode
		"no-extra-strict": 0,
		"strict": 0,

		// Variables
		"no-shadow-restricted-names": 0,
		"no-shadow": 0,
		"no-unused-vars": [2, { "vars": "all", "args": "none" }],

		// Stylistic Issues
		"new-cap": 0,
		"no-trailing-spaces": 0,
		"no-underscore-dangle": 0,
		"quotes": [2, "single", "avoid-escape"],
		"semi-spacing": 0,
		"space-unary-ops": 0
	},
	"globals": {
		//
	},
	"env": {
		"node": true,
		"browser": true
	}
}
