.DS_Store
.vscode
node_modules
/coverage
/.nyc_output

/src
/tests
/docs
/perf
/.editorconfig
/.eslintrc.cjs
/.gitignore
/.npmrc
/.nycrc.json
/.prettierrc
/.travis.yml
/rollup.config.js
/tsconfig.json
/tsconfig.tests.json