.DS_Store
.vscode
node_modules
/coverage

/benchmarks
/docs
/perf
/src
/tests
/.editorconfig
/.gitignore
/.npmrc
/.prettierrc
/.travis.yml
/eslint.config.mjs
/jest.config.js
/README.ru.md
/rolldown.config.mjs
/tsconfig.json