{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "parser": "typescript",
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators"],
  "importOrder": [
    "^node:",
    "^[a-zA-Z]",
    "^@",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": false,
  "importOrderCaseInsensitive": false
}